Client_20180140056_DavidWicaksono/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service_20180140056_DavidWicaksono" />
  <xs:element name="GetAllMahasiswa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMahasiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_20180140056_DavidWicaksono" minOccurs="0" name="GetAllMahasiswaResult" nillable="true" type="q1:ArrayOfMahasiswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMahasiswaByNIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nim" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMahasiswaByNIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_20180140056_DavidWicaksono" minOccurs="0" name="GetMahasiswaByNIMResult" nillable="true" type="q2:Mahasiswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMahasiswa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service_20180140056_DavidWicaksono" minOccurs="0" name="mhs" nillable="true" type="q3:Mahasiswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMahasiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMahasiswaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMahasiswa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nim" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMahasiswaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMahasiswaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMahasiswaByNIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service_20180140056_DavidWicaksono" minOccurs="0" name="mhs" nillable="true" type="q4:Mahasiswa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMahasiswaByNIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMahasiswaByNIMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>